body { font-family: Arial; background:#111; color:#fff; text-align:center; }
button { padding:10px 20px; margin:20px; font-size:16px; }
.table { width:95%; margin:auto; margin-top:20px; border-collapse: collapse; }
.table th, .table td { border:1px solid #555; padding:8px; }
